Repository Strappazzon/tor-exit-page, changes with the labels that .github/labeler.yml gives for each.
All labels: cicd, config, dependencies, documentation

cicd: Add workflows
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
  .github/workflows/pr-assign.yml
  .github/workflows/pr-labels.yml
Labels: cicd

Update README
  .github/README.md
  .markdownlint.yml
  README.md
Labels: config, documentation

cicd: Fix artifact path
  .github/workflows/build-prod.yml
Labels: cicd

cicd: Deploy to branch
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
Labels: cicd

deps: Update Ruby dependencies
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
  .ruby-version
  .tool-versions
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  index.html
Labels: cicd, config, dependencies

Refactoring
  _components/logo.svg
  _sass/_index.scss
  index.html
Labels: none

Add demo page notice
  .github/README.md
  _config.yml
  _sass/_index.scss
  index.html
Labels: config, documentation

Remove page favicon
  index.html
Labels: none

Change page defaults
  .github/README.md
  _config.yml
Labels: config, documentation

docs: Formatting
  .github/CONTRIBUTING.md
  .github/README.md
Labels: documentation

cicd: Update workflows
  .github/workflows/build-dev.yml
  .github/workflows/build-pr.yml
  .github/workflows/build-prod.yml
Labels: cicd

Format HTML
  index.html
Labels: none

deps(ruby): Update Bundler
  Gemfile
  Gemfile.lock
Labels: dependencies

cicd: Remove build workflows
  .github/workflows/build-dev.yml
  .github/workflows/build-prod.yml
Labels: cicd

.github/labeler.yml:

cicd:
  - ".github/workflows/**"

config:
  - ".github/*.yml"
  - ".vscode/**"
  - "_config.yml"
  - ".editorconfig"
  - ".gitattributes"
  - ".gitignore"
  - "**/.markdownlint.yml"

dependencies:
  - "Gemfile"
  - "Gemfile.lock"

documentation:
  - ".github/CONTRIBUTING.md"
  - "**/README.md"
  - "SUPPORT.md"
